/* Home CSS */
.Home{
  width: 200px;
  height: 100px;
  margin: auto;
}

.Inner_Home{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.home-btn{
  font-size: large;
  padding: 10px;
  border-radius: 20px;
  border: 1px solid gray;
  color: green;
}